In [4]:
# Exercício 01 - Crie uma lista com nomes de 4 times de futebol.
# a) Palmeiras
# b) São Paulo
# c) Santos
# d) Água Santa
times = ['Palmeiras','São Paulo','Santos','Água Santa']

# e) Acesse o time que está na 3a posição.
print(times[2])

# para imprimir uma lista, pode colocar direto ( sem o print )
# Exemplo: 
# times[2]

Santos

In [15]:
# f) Crie uma lista com duas listas de 3 times de futebol, cada uma de uma divisão diferente.

# Como imprimir a letra E
#            [0]                         [1] [0]
divisoes = [  [  'A' , 'B' , 'C' , 'D'] , [  'E', 'F' , 'G' , 'H']]
print(divisoes[1][0])

E

In [29]:
#Exercício 02 - Crie uma lista com 3 diferentes moedas. Acrescente mais 2 outras moedas à essa mesma lista.

moedas = ['Real','Euro','Dolar']

moedas.append('Cuna')
moedas.append('Peso')

moedas

# Exercício 03 - Crie uma string com a lista do exercício anterior.         LISTA PARA STRING
# Converter uma lista em uma String com o separador sendo uma vírgula:
texto = ','.join(moedas)
texto

#Exercício 04 - Agora utilize a string "testo" do exercício 6 para recriar uma lista.
# Converter uma String para lista novamente, separar os itens por virgula:  STRING PARA LISTA
moedas = texto.split(',')

moedas

['Real', 'Euro', 'Dolar', 'Cuna', 'Peso']

In [33]:
#======== TUPLAS ==========#   ( Os valores ficarão fixos )

valores = (90, 79, 54, 32, 21)
pontos = (100, 94.05, 86.8, 62)

valores

(90, 79, 54, 32, 21)

In [ ]:
my_list = [1,2]  # Criando uma lista

my_tuple = (1,2)  # Criando uma tupla

other_tuple = (3,4) # Criando uma outra tupla

my_list [1] = 3 # Substituindo um elemento de uma lista


#Tratamento de erro. Executa o bloco "try", caso não haja erro. Executa o bloco "Except TypeError" caso haja erro!
try: 
    my_tuple[1] = 3
except TypeError:
    print('Você não pode modificar uma tupla!')

In [34]:
def sum_and_product (x,y):
    return (x + y),(x * y)   # O comando de ''return'' já imprime automaticamente as informações. ( Faz um print sozinho )

sum_and_product(10,2)   # Chamar o nome da função Ex.: "sum_and_product" e depois passar 2 valores por parâmetro .

(12, 20)

In [37]:
soma , multiplicacao = sum_and_product (5,10)  #S É 15 p é 50

soma   # Chama a função 'sum_and_product', e imprime apenas o valor que foi carregado na variável s

multiplicacao   # Chama a função 'sum_and_product', e imprime apenas o valor que foi carregado na variável p

15

In [38]:
# ====== DICIONÁRIOS ======   TEM QUE PASSAR UM PAR DE INFORMAÇÕES, UMA COMO SE FOSSE TITULO e depois o valor abaixo do título.
altura = {'Amanda':1.65, 'Ana':1.60, 'João':1.70}
peso = {'Amanda': 65, 'Ana': 86, 'João': 170}

print('A altura do João é: ',altura['João'])
print('O peso da Ana é: ',peso['Ana'])

#print(type(altura))
#print(type(peso))

A altura do João é:  1.7
O peso da Ana é:  86

In [39]:
cadastro = {
            'nome':'Tânia',
            'idade': 35,
            'fruta':'Uva',
            'cor':'Roxa',
            'musica':'Forró'
           }

cadastro

{'nome': 'Tânia',
 'idade': 35,
 'fruta': 'Uva',
 'cor': 'Roxa',
 'musica': 'Forró'}

In [40]:
# Troca o par dos dados   ( antes era 'fruta':'Uva'  e passou a ficar como: 'fruta': 'laranja' )
cadastro ['fruta'] = 'laranja'

cadastro

{'nome': 'Tânia',
 'idade': 35,
 'fruta': 'laranja',
 'cor': 'Roxa',
 'musica': 'Forró'}

In [41]:
# Incui um novo campo quando ele não existir  
cadastro ['sobrenome'] = 'Gomes'

cadastro

{'nome': 'Tânia',
 'idade': 35,
 'fruta': 'laranja',
 'cor': 'Roxa',
 'musica': 'Forró',
 'sobrenome': 'Gomes'}

In [42]:
# Para exclusão de um campo  ( Comando 'del' e o 'nome do campo' )
del cadastro['sobrenome'] 

cadastro

{'nome': 'Tânia',
 'idade': 35,
 'fruta': 'laranja',
 'cor': 'Roxa',
 'musica': 'Forró'}

In [43]:
#Incluindo um par diferente "Que não existia"
cadastro ['sobrenome'] = 'Gomes'

cadastro

{'nome': 'Tânia',
 'idade': 35,
 'fruta': 'laranja',
 'cor': 'Roxa',
 'musica': 'Forró',
 'sobrenome': 'Gomes'}

In [45]:
# Atualização em lote
cadastro.update({'nome':'Ana','idade':27,'fruta':'abacaxi'})
cadastro

{'nome': 'Ana',
 'idade': 27,
 'fruta': 'abacaxi',
 'cor': 'Roxa',
 'musica': 'Forró',
 'sobrenome': 'Gomes'}